<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musée</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <img src="../static/crocs.png" alt="Musée" id="clickable-image-crocs"
        onclick="openPopup(this.src, 'Les crocs cars maxi chères volées par Fel Doup')">
    <img src="../static/pipe.png" alt="Musée" id="clickable-image-pipe"
        onclick="openPopup(this.src, 'Aujourd\'hui, c\'est dimanche et comme chaque dimanche ...')">
    <img src="../static/flute.png" alt="Musée" id="clickable-image-flute"
        onclick="openPopup(this.src, 'L\'objet préféré de Nounours')">

    <div id="popup" class="popup" onclick="closePopup()">
        <div class="popup-content">
            <img id="popup-image" src="" alt="Popup Image">
            <p id="popup-text"></p>
        </div>
    </div>

    <div id="room1" class="room1" onclick="window.location.href='/room/1'"></div>

    <script>
        function openPopup(src, text) {
            document.getElementById('popup-image').src = src;
            document.getElementById('popup-text').innerText = text;
            document.getElementById('popup').style.display = 'flex';
        }

        function closePopup() {
            document.getElementById('popup').style.display = 'none';
        }
    </script>

    <style>
        body {
            background-image: url("../static/museum2.png");
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            overflow: hidden;
        }
    </style>
</body>

</html>