<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="mt-5">Bienvenue</h1>
        <p class="lead">Ceci est une page d'example créer pour un projet fait avec Flask</p>
        <a href="{{ url_for('grenouille') }}" class="btn btn-primary">Voir la grenouille</a>
        <a href="{{ url_for('ciel') }}" class="btn btn-primary">Voir le ciel</a>
        <a href="{{ url_for('snir') }}" class="btn btn-primary">Je ne sais pas ce qu'est un snir</a>
        <a href="{{ url_for('etudesSup') }}" class="btn btn-primary">Voir ses résultats scolaires</a>
        <hr>
    </div>
</body>

</html>